@media screen and (max-width: 800px){


    body{
        padding: 0px;
        margin: 0px;

    }

    #MainHead{
        background-color: white;
    }

    #Head img{
        display: block;
        width: 50%;
        height: 50%;
        margin-top: 1em;
        margin-left: 1em;
    }

    #MainNav{
        display: none;
    }
/*
    .hamburger img{
        display: inline-block;
        float: right;
        margin-top: 1.25em;
        margin-right: 1.3em;
    }

    #MainNav ul{
        list-style: none;
        margin: 0px;

    }

    #MainNav ul li{
        text-decoration: none;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 50px;
        padding-right: 50px;

    }

    #MainNav ul li a{
        font-size: 1.5em;
        color: rgb(145, 47, 70);
        text-decoration: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 50px;
        padding-right: 50px;
    }

    #MainNav ul li a:hover{
        background-color: rgb(145, 47, 70);
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

*/

    #jumbotron{
        margin-top: 0.2em;
        margin-top: 0px;
        margin-bottom: 6em;
        /*width: 50%;*/
    }

    .jumbo_img{
        width: 100%;
        display: block;
        float: left;
        padding-bottom: 8em;

    }

    .jumbo_img img{
        width: 100%;
        height: auto;
    }

    .overlayText p{
        text-align: center;
        font-size: 1em;
        width: 20em;
        margin-left: 1em;
        margin-top: 1em;
        padding-top: 8em;
        margin-bottom: 6.4em;
        padding-bottom: 8em;
        color: rgb(255, 255, 255);

    }

    .overlay{
    /*    margin-top: -57.1em;*/
        height: 89.3%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgb(145, 47, 70);
    }

    .jumbo_img:hover .overlay{
        opacity: .99;
    }


    #about{
        background-image: url(materials/pagarini_taust.png);
        repeat: no-repeat;
    }

    #about h2{
        font-family: CoreSansBold;
        font-size: 3em;
        text-align: center;
        color: rgb(145, 47, 70);
    }

    #about p{
        font-size: 1.5em;
        text-align: center;
        color: rgb(145, 47, 70);
        margin-left: 1em;
        margin-right: 1em;
    }

    #gallery img{
        width: 100%;
        height: auto;

    }

    #locations{
        background-color: rgb(145, 47, 70);
        padding-top: 2em;
        padding-bottom: 2em;
    }

    #locations h2, h3, p{
        color: rgb(255, 255, 255);
        text-align: center;
    }

    #locations h2
}
